.board {
    position: absolute;
    width: 1191px;
    height: 638px;
    left: 115px;
    top: 120px;
    background: #FFFFFF;
    box-shadow: -5px 11px 4px #8CD3F7, inset 11px -11px 3px -1px #C8EAFB;
    border-radius: 85px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.editButton {
    position: absolute;
    width: 75px;
    height: 20px;
    left: 267px;
    top: 281px;
    background: #FFFFFF;
    border: 1px solid #0078BC;
    box-sizing: border-box;
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    color: #0078BC;
}

.userName {
    position: absolute;
    width: 91px;
    height: 23px;
    left: 267px;
    top: 250px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-transform: lowercase;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.wholeName {
    position: absolute;
    height: 30px;
    left: 267px;
    top: 216px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}

.email {
    position: absolute;
    width: 120px;
    height: 21px;
    left: 245px;
    top: 381px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: capitalize;
    color: #363636;
}

.emailValue {
    position: absolute;
    width: 213px;
    height: 23px;
    left: 400px;
    top: 380px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
    color: #000000;
}

.number {
    position: absolute;
    width: 128px;
    height: 21px;
    left: 237px;
    top: 447px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: capitalize;
    color: #363636;
}

.numberValue {
    position: absolute;
    width: 113px;
    height: 23px;
    left: 400px;
    top: 448px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #000000;
}

.address {
    position: absolute;
    width: 124px;
    height: 21px;
    left: 241px;
    top: 513px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: capitalize;
    color: #363636;
}

.addressValue {
    position: absolute;
    width: 612px;
    height: 23px;
    left: 400px;
    top: 511px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #000000;
}